[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyring = "~=24.3.0"
numpy = "~=1.26.2"
paramiko = "~=3.3.1"

[dev-packages]

[requires]
python_version = "3.12"
